# See github docs for more info on the syntax:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default to all maintainers if nothing more specific matches
* @rhatdan @bmahabirbu @maxamillion @dougsland @swarajpande5 @jhjaggars @cgruver @slp @engelmi @mikebonnet @olliewalsh
