ramalama/__pycache__
docs/*.1
docs/*.5
docs/*.7
build
*.egg-info
*.dist
*.patch
ramalama/*.patch
dist
.#*
venv/
/*.container
/*.image
/*.volume
__pycache__/
.aider*
.coverage
coverage.*
htmlcov/
.idea/
.hypothesis/
uv.lock
