/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #cf3c23;
  --ifm-color-primary-dark: #ba361f;
  --ifm-color-primary-darker: #b0331e;
  --ifm-color-primary-darkest: #912a18;
  --ifm-color-primary-light: #dc482e;
  --ifm-color-primary-lighter: #dd5139;
  --ifm-color-primary-lightest: #e36c58;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e36c58;
  --ifm-color-primary-dark: #de543d;
  --ifm-color-primary-darker: #dc4830;
  --ifm-color-primary-darkest: #bd3620;
  --ifm-color-primary-light: #e88473;
  --ifm-color-primary-lighter: #ea9080;
  --ifm-color-primary-lightest: #f1b3a9;
}