[Unit]
Description=RamaLama tinyllama AI Model Service
After=local-fs.target

[Container]
AddDevice=-/dev/accel
AddDevice=-/dev/dri
AddDevice=-/dev/kfd
Image=testimage
RunInit=true
Environment=HOME=/tmp
Exec=
SecurityLabelDisable=true
DropCapability=all
NoNewPrivileges=true
PublishPort=2020:2020
Mount=type=image,source=tinyllama,destination=/mnt/models,subpath=/models,readwrite=false

[Install]
WantedBy=multi-user.target default.target

