[Unit]
Description=RamaLama oci-model AI Model Service
After=local-fs.target

[Container]
AddDevice=-/dev/accel
AddDevice=-/dev/dri
AddDevice=-/dev/kfd
AddDevice=nvidia.com/gpu=all
Image=testimage
RunInit=true
Environment=HOME=/tmp
Exec=
SecurityLabelDisable=true
DropCapability=all
NoNewPrivileges=true
Mount=type=image,source=registry.example.com/model:latest,destination=/mnt/models,subpath=/models,readwrite=false

[Install]
WantedBy=multi-user.target default.target

