# requirements for convert_hf_to_gguf.py
# Keep the tag below in sync with the tag used for convert_hf_to_gguf.py in Containerfile.rag
git+https://github.com/ggml-org/llama.cpp@b6900#subdirectory=gguf-py
mistral-common
numpy
protobuf
sentencepiece
torch
transformers

# requirements for rag_framework
aiodns
aiohttp
fastapi
fastembed
openai[aiohttp]
pydantic
pymilvus[milvus_lite]
qdrant_client
uvicorn

# requirements for doc2rag
accelerate
docling
docling-core
